<br/>
<div class="card" style="width: 80%;">
  <div class="card-header">
    <h1>New ishber</h1>
  </div>
  <div class="card-body">
  <%= render "form", ishber: @ishber %>
  <br>
  <%= link_to "Back to ishbers", ishbers_path , class:"allbuttons"%>
  </div>
</div>
