<br/>
<div class="card" style="width: 80%;">
  <div class="card-header">
    <h1>New Messages</h1>
  </div>

  <div class="card-body">
    <%= render "form", tger: @tger %>
    <br>  
    <%= link_to "Back to tgers", tgers_path , class:"allbuttons" %>
  </div>
</div>
