<div class="card"style="width: 80%;">
  <div class="card-header">
  <h1>New yuk</h1>
  </div>
  <div class="card-body">
    <%= render "form", yuk: @yuk %>
  <br>
    <%= link_to "Back to yuks", yuks_path , class:"allbuttons" %>
  </div>
</div>
