<br/>
<div class="card" style="width: 80%;">
  <div class="card-header">
    <h1>New project</h1>
  </div>

  <div class="card-body">
    <%= render "form", project: @project %>
    <br>
    <div>
      <%= link_to "Back to projects", projects_path , class:"allbuttons"%>
    </div>
  </div>
</div>
