<div class="card" style="width: 80%;">
  <div class="card-header">
    <h1>Editing Messages</h1>
  </div>

  <%= render "form", tg: @tg %>
  <br>

  <div class="card-body row">
    <%= link_to "Show this tg", @tg , class:"allbuttons col-6 text-center" %> 
    <%= link_to "Back", tg_path(@tg) , class:"allbuttons col-6 text-center" %>
  </div>
</div>
