<br/>
<div class="card" style="width: 80%;">
  <div class="card-header">
    <h1>Messenge</h1>
  </div>

  <div class="card-body">
    <div id="tgs">
      <% @tgs.each do |tg| %>
        <%= render tg %>
        <p class="row">
          <%= link_to "Show this tg", tg , class:"allbuttons col-12 text-center"%>
        </p>
      <% end %>
    </div>
    <div class="row link">
      <%= link_to "New tg", new_project_tg_path(@project), class:"allbuttons col-6" %> <br>
      <%= link_to "Back", project_path(@project) , class:"allbuttons col-6"%>
    </div>
    <style>
      .link{
        text-align: center;
      }
      .card{
        background: #F8F4E5;
        border: 1px solid #000;
        box-shadow: 15px 15px #ffa580;
      }
    </style>
  </div>
</div>
